# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Environment Variables
.env
*.env

# Local Storage & Downloads
downloads/
pb_data/
pocketbase.exe
pb.zip
run_output.log

# Node & Convex
node_modules/
.convex/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
