__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.env
*.env
*.enc
downloads/
pb_data/
pb_migrations/
pocketbase.exe
pb.zip
CHANGELOG.md
LICENSE.md
start_pocketbase.bat
decrypt_pocketbase.bat
run_output.log
node_modules/
.convex/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
